In [1]:
import pandas as pd
import numpy as np
from cleaning_pipeline import *

In [2]:
faults_filepath = "../../data/J1939Faults.csv"
diagnostics_filepath = "../../data/VehicleDiagnosticOnboardData.csv"

In [10]:
print("Merging faults and diagnostics data...")
df = merge_faults_and_diagnostics(faults_filepath, diagnostics_filepath)
df.head()

Merging faults and diagnostics data...

c:\Users\irela\Documents\NSS_Projects\big-g-haulin-oats\data_processing\notebooks_for_preprocessing\cleaning_pipeline.py:7: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  faults = pd.read_csv(faults_filepath)

,RecordID,ESS_Id,EventTimeStamp,eventDescription,actionDescription,ecuSoftwareVersion,ecuSerialNumber,ecuModel,ecuMake,ecuSource,...,FuelTemperature,IgnStatus,IntakeManifoldTemperature,LampStatus,ParkingBrake,ServiceDistance,Speed,SwitchedBatteryVoltage,Throttle,TurboBoostPressure
0,1,990349,2015-02-21 10:47:13.000,Low (Severity Low) Engine Coolant Level,NaN,unknown,unknown,unknown,unknown,0,...,NaN,False,78.8,1023,True,NaN,0,3276.75,NaN,0
1,2,990360,2015-02-21 11:34:34.000,NaN,NaN,unknown,unknown,unknown,unknown,11,...,NaN,True,NaN,1279,NaN,NaN,NaN,NaN,NaN,NaN
2,3,990364,2015-02-21 11:35:31.000,Incorrect Data Steering Wheel Angle,NaN,unknown,unknown,unknown,unknown,11,...,NaN,NaN,NaN,1279,NaN,NaN,NaN,NaN,NaN,NaN
3,4,990370,2015-02-21 11:35:33.000,Incorrect Data Steering Wheel Angle,NaN,unknown,unknown,unknown,unknown,11,...,NaN,True,NaN,1279,NaN,NaN,NaN,NaN,NaN,NaN
4,5,990416,2015-02-21 11:39:41.000,NaN,NaN,22281684P01*22357957P01*22362082P01*,13063430,0USA13_13_0415_2238A,VOLVO,0,...,NaN,NaN,NaN,16639,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Remove service locations and unnecessary columns
print("Removing service locations and unnecessary columns...")
df = remove_data(df)
df.head()

Removing service locations and unnecessary columns...
Data after removing service locations and unnecessary columns:
       EventTimeStamp   spn fmi EquipmentID  AcceleratorPedal  \
0 2015-02-21 10:47:13   111  17        1439               0.0
1 2015-02-21 11:34:34   629  12        1439               NaN
2 2015-02-21 11:35:31  1807   2        1369               NaN
3 2015-02-21 11:35:33  1807   2        1369               NaN
4 2015-02-21 11:39:41  4364  17        1674               NaN

   BarometricPressure  CruiseControlActive  CruiseControlSetSpeed  \
0               14.21                False               66.48672
1                 NaN                 <NA>                    NaN
2                 NaN                 <NA>                    NaN
3                 NaN                 <NA>                    NaN
4                 NaN                 <NA>                    NaN

   DistanceLtd  EngineCoolantTemperature  ...  FuelTemperature  IgnStatus  \
0     423178.7                     100.4  ...              NaN      False
1          NaN                       NaN  ...              NaN       True
2          NaN                       NaN  ...              NaN       <NA>
3          NaN                       NaN  ...              NaN       True
4          NaN                       NaN  ...              NaN       <NA>

   IntakeManifoldTemperature  LampStatus  ParkingBrake  ServiceDistance  \
0                       78.8        1023          True              NaN
1                        NaN        1279          <NA>              NaN
2                        NaN        1279          <NA>              NaN
3                        NaN        1279          <NA>              NaN
4                        NaN       16639          <NA>              NaN

   Speed  SwitchedBatteryVoltage  Throttle  TurboBoostPressure
0    0.0                 3276.75       NaN                 0.0
1    NaN                     NaN       NaN                 NaN
2    NaN                     NaN       NaN                 NaN
3    NaN                     NaN       NaN                 NaN
4    NaN                     NaN       NaN                 NaN

[5 rows x 28 columns]
Data types after conversion:
EventTimeStamp               datetime64[ns]
spn                                  object
fmi                                  object
EquipmentID                          object
AcceleratorPedal                    float64
BarometricPressure                  float64
CruiseControlActive                 boolean
CruiseControlSetSpeed               float64
DistanceLtd                         float64
EngineCoolantTemperature            float64
EngineLoad                          float64
EngineOilPressure                   float64
EngineOilTemperature                float64
EngineRpm                           float64
EngineTimeLtd                       float64
FuelLevel                           float64
FuelLtd                             float64
FuelRate                            float64
FuelTemperature                     float64
IgnStatus                           boolean
IntakeManifoldTemperature           float64
LampStatus                            int64
ParkingBrake                        boolean
ServiceDistance                     float64
Speed                               float64
SwitchedBatteryVoltage              float64
Throttle                            float64
TurboBoostPressure                  float64
dtype: object
Number of rows with NaNs in important columns removed from df:
0
Columns sorted by number of NaN values:
EngineOilTemperature         525565
FuelRate                     524779
FuelLtd                      524582
EngineLoad                   524493
DistanceLtd                  524175
EngineCoolantTemperature     524042
BarometricPressure           524037
IntakeManifoldTemperature    523936
EngineOilPressure            523931
EngineRpm                    523603
IgnStatus                    506359
EventTimeStamp                    0
spn                               0
fmi                               0
EquipmentID                       0
LampStatus                        0
dtype: int64

,EventTimeStamp,spn,fmi,EquipmentID,BarometricPressure,DistanceLtd,EngineCoolantTemperature,EngineLoad,EngineOilPressure,EngineOilTemperature,EngineRpm,FuelLtd,FuelRate,IgnStatus,IntakeManifoldTemperature,LampStatus
0,2015-02-21 10:47:13,111,17,1439,14.21,423178.7,100.4,11.0,0.0,96.74375,0.0,12300.907429,0.0,False,78.8,1023
1,2015-02-21 11:34:34,629,12,1439,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,1279
2,2015-02-21 11:35:31,1807,2,1369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,1279
3,2015-02-21 11:35:33,1807,2,1369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,1279
4,2015-02-21 11:39:41,4364,17,1674,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,16639

In [12]:
# Create target columns
print("Creating target columns...")
df = create_target_cols(df)
df.head()

Creating target columns...

,EventTimeStamp,spn,fmi,EquipmentID,BarometricPressure,DistanceLtd,EngineCoolantTemperature,EngineLoad,EngineOilPressure,EngineOilTemperature,...,FuelLtd,FuelRate,IgnStatus,IntakeManifoldTemperature,LampStatus,FullDerate,NextDerateTime,HoursUntilNextDerate,DerateInNextTwoHours,DerateInNextTwentyFourHours
1001106,2018-07-20 09:31:33,1231,16,0105406655,14.1375,91442.55,181.4,12.0,39.44,203.7312,...,12311.606397,1.651080,True,138.2,255,0,NaT,NaN,0,0
1001107,2018-07-20 09:42:30,1231,16,0105406655,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,<NA>,NaN,255,0,NaT,NaN,0,0
358800,2016-01-31 07:12:25,629,12,105301976,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,True,NaN,1279,0,NaT,NaN,0,0
927313,2018-01-26 18:58:08,37,18,105338729,14.5725,1435.37,170.6,16.0,20.88,200.4688,...,199.053641,0.647223,True,120.2,50175,0,NaT,NaN,0,0
927314,2018-01-26 18:59:36,37,18,105338729,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,<NA>,NaN,50175,0,NaT,NaN,0,0

In [6]:
df[df['spn']=='5246']

,EventTimeStamp,spn,fmi,EquipmentID,BarometricPressure,DistanceLtd,EngineCoolantTemperature,EngineLoad,EngineOilPressure,EngineOilTemperature,...,FuelLtd,FuelRate,IgnStatus,IntakeManifoldTemperature,LampStatus,FullDerate,NextDerateTime,HoursUntilNextDerate,DerateInNextTwoHours,DerateInNextTwentyFourHours
996835,2018-07-06 09:42:48,5246,0,105349576,14.3550,257588.7,185.0,21.0,22.62,192.7063,...,36865.606115,0.752893,True,145.4,22527,1,2018-07-06 09:42:48,0.0,1,1
998112,2018-07-10 15:43:58,5246,0,105349576,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,<NA>,NaN,17407,1,2018-07-10 15:43:58,0.0,1,1
972882,2018-04-27 06:07:55,5246,0,105427203,14.1375,293491.4,87.8,15.0,40.60,85.5500,...,39869.506518,1.030274,True,69.8,22527,1,2018-04-27 06:07:55,0.0,1,1
5713,2015-02-25 13:53:08,5246,0,1329,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,True,NaN,22527,1,2015-02-25 13:53:08,0.0,1,1
5809,2015-02-25 14:47:00,5246,0,1329,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,<NA>,NaN,17407,1,2015-02-25 14:47:00,0.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039516,2018-11-16 10:25:51,5246,19,305,14.5000,279374.4,167.0,10.0,43.50,171.2750,...,44671.361907,0.528346,True,123.8,255,1,2018-11-16 10:25:51,0.0,1,1
1039597,2018-11-16 13:12:46,5246,19,305,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,<NA>,NaN,255,1,2018-11-16 13:12:46,0.0,1,1
1041171,2018-11-20 14:37:43,5246,19,305,14.5725,279409.7,156.2,13.0,46.98,161.3750,...,44678.890811,1.426534,True,102.2,255,1,2018-11-20 14:37:43,0.0,1,1
1041537,2018-11-21 13:48:29,5246,19,305,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,<NA>,NaN,255,1,2018-11-21 13:48:29,0.0,1,1
1015659,2018-09-07 11:22:40,5246,0,306,14.4275,304061.8,179.6,19.0,24.36,189.2750,...,42194.616834,0.713267,True,149.0,22527,1,2018-09-07 11:22:40,0.0,1,1

In [14]:
# Remove data points that are after a derate for a certain time limit
print("Removing data occuring right after a derate...")
df = remove_after_derate(df)
df.head()

Removing data occuring right after a derate...

,EventTimeStamp,spn,fmi,EquipmentID,BarometricPressure,DistanceLtd,EngineCoolantTemperature,EngineLoad,EngineOilPressure,EngineOilTemperature,...,FuelLtd,FuelRate,IgnStatus,IntakeManifoldTemperature,LampStatus,FullDerate,NextDerateTime,HoursUntilNextDerate,DerateInNextTwoHours,DerateInNextTwentyFourHours
1001106,2018-07-20 09:31:33,1231,16,0105406655,14.1375,91442.55,181.4,12.0,39.44,203.7312,...,12311.606397,1.651080,True,138.2,255,0,NaT,NaN,0,0
1001107,2018-07-20 09:42:30,1231,16,0105406655,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,<NA>,NaN,255,0,NaT,NaN,0,0
358800,2016-01-31 07:12:25,629,12,105301976,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,True,NaN,1279,0,NaT,NaN,0,0
927313,2018-01-26 18:58:08,37,18,105338729,14.5725,1435.37,170.6,16.0,20.88,200.4688,...,199.053641,0.647223,True,120.2,50175,0,NaT,NaN,0,0
927314,2018-01-26 18:59:36,37,18,105338729,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,<NA>,NaN,50175,0,NaT,NaN,0,0

In [27]:
# Split the data into training and testing sets
print("Splitting data...")
train_df, test_df = split_data(df)
train_df.head()

Splitting data...

,EventTimeStamp,spn,fmi,EquipmentID,BarometricPressure,DistanceLtd,EngineCoolantTemperature,EngineLoad,EngineOilPressure,EngineOilTemperature,...,FuelLtd,FuelRate,IgnStatus,IntakeManifoldTemperature,LampStatus,FullDerate,NextDerateTime,HoursUntilNextDerate,DerateInNextTwoHours,DerateInNextTwentyFourHours
1001106,2018-07-20 09:31:33,1231,16,0105406655,14.1375,91442.55,181.4,12.0,39.44,203.7312,...,12311.606397,1.651080,True,138.2,255,0,NaT,NaN,0,0
1001107,2018-07-20 09:42:30,1231,16,0105406655,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,<NA>,NaN,255,0,NaT,NaN,0,0
358800,2016-01-31 07:12:25,629,12,105301976,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,True,NaN,1279,0,NaT,NaN,0,0
927313,2018-01-26 18:58:08,37,18,105338729,14.5725,1435.37,170.6,16.0,20.88,200.4688,...,199.053641,0.647223,True,120.2,50175,0,NaT,NaN,0,0
927314,2018-01-26 18:59:36,37,18,105338729,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,<NA>,NaN,50175,0,NaT,NaN,0,0

In [29]:
# Scale and OHE the data
print("Scaling and One-hot encoding the data...")
train_df, test_df = scale_and_ohe_data(train_df, test_df)
print(f"train_df: {train_df.head()}")
train_df.head()

Scaling and One-hot encoding the data...
train_df:              EventTimeStamp   spn EquipmentID  BarometricPressure  \
1001106 2018-07-20 09:31:33  1231  0105406655           -0.045767
1001107 2018-07-20 09:42:30  1231  0105406655                 NaN
358800  2016-01-31 07:12:25   629   105301976                 NaN
927313  2018-01-26 18:58:08    37   105338729            0.318969
927314  2018-01-26 18:59:36    37   105338729                 NaN

         DistanceLtd  EngineCoolantTemperature  EngineLoad  EngineOilPressure  \
1001106    -1.915261                  0.361514   -0.649092           0.533694
1001107          NaN                       NaN         NaN                NaN
358800           NaN                       NaN         NaN                NaN
927313     -2.546183                  0.033049   -0.518343          -1.111772
927314           NaN                       NaN         NaN                NaN

         EngineOilTemperature  EngineRpm  ...  fmi_23  fmi_29  fmi_3  fmi_31  \
1001106              0.267703   0.384482  ...     0.0     0.0    0.0     0.0
1001107                   NaN        NaN  ...     0.0     0.0    0.0     0.0
358800                    NaN        NaN  ...     0.0     0.0    0.0     0.0
927313               0.214600  -0.961596  ...     0.0     0.0    0.0     0.0
927314                    NaN        NaN  ...     0.0     0.0    0.0     0.0

         fmi_4  fmi_5 fmi_6  fmi_7  fmi_8  fmi_9
1001106    0.0    0.0   0.0    0.0    0.0    0.0
1001107    0.0    0.0   0.0    0.0    0.0    0.0
358800     0.0    0.0   0.0    0.0    0.0    0.0
927313     0.0    0.0   0.0    0.0    0.0    0.0
927314     0.0    0.0   0.0    0.0    0.0    0.0

[5 rows x 46 columns]

,EventTimeStamp,spn,EquipmentID,BarometricPressure,DistanceLtd,EngineCoolantTemperature,EngineLoad,EngineOilPressure,EngineOilTemperature,EngineRpm,...,fmi_23,fmi_29,fmi_3,fmi_31,fmi_4,fmi_5,fmi_6,fmi_7,fmi_8,fmi_9
1001106,2018-07-20 09:31:33,1231,0105406655,-0.045767,-1.915261,0.361514,-0.649092,0.533694,0.267703,0.384482,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1001107,2018-07-20 09:42:30,1231,0105406655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
358800,2016-01-31 07:12:25,629,105301976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
927313,2018-01-26 18:58:08,37,105338729,0.318969,-2.546183,0.033049,-0.518343,-1.111772,0.214600,-0.961596,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
927314,2018-01-26 18:59:36,37,105338729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
# Impute missing values
print(f"Imputing missing values using {'ffill'} method...")
train_df, test_df = impute_missing_values(train_df, test_df, method='ffill')
train_df.head()

Imputing missing values using ffill method...
Imputing missing values using forward fill

,EventTimeStamp,spn,EquipmentID,BarometricPressure,DistanceLtd,EngineCoolantTemperature,EngineLoad,EngineOilPressure,EngineOilTemperature,EngineRpm,...,fmi_23,fmi_29,fmi_3,fmi_31,fmi_4,fmi_5,fmi_6,fmi_7,fmi_8,fmi_9
1001106,2018-07-20 09:31:33,1231,0105406655,-0.045767,-1.915261,0.361514,-0.649092,0.533694,0.267703,0.384482,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1001107,2018-07-20 09:42:30,1231,0105406655,-0.045767,-1.915261,0.361514,-0.649092,0.533694,0.267703,0.384482,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
358800,2016-01-31 07:12:25,629,105301976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
927313,2018-01-26 18:58:08,37,105338729,0.318969,-2.546183,0.033049,-0.518343,-1.111772,0.214600,-0.961596,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
927314,2018-01-26 18:59:36,37,105338729,0.318969,-2.546183,0.033049,-0.518343,-1.111772,0.214600,-0.961596,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
filename = '../preprocessed_data/attempting_to_save_ffill_05_03'
clean_and_save(faults_filepath, diagnostics_filepath, filename=filename)

Starting full cleaning and saving...
Merging faults and diagnostics data...

c:\Users\irela\Documents\NSS_Projects\big-g-haulin-oats\data_processing\notebooks_for_preprocessing\cleaning_pipeline.py:7: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  faults = pd.read_csv(faults_filepath)

Removing service locations and unnecessary columns...
Data after removing service locations and unnecessary columns:
       EventTimeStamp   spn fmi EquipmentID  AcceleratorPedal  \
0 2015-02-21 10:47:13   111  17        1439               0.0
1 2015-02-21 11:34:34   629  12        1439               NaN
2 2015-02-21 11:35:31  1807   2        1369               NaN
3 2015-02-21 11:35:33  1807   2        1369               NaN
4 2015-02-21 11:39:41  4364  17        1674               NaN

   BarometricPressure  CruiseControlActive  CruiseControlSetSpeed  \
0               14.21                False               66.48672
1                 NaN                 <NA>                    NaN
2                 NaN                 <NA>                    NaN
3                 NaN                 <NA>                    NaN
4                 NaN                 <NA>                    NaN

   DistanceLtd  EngineCoolantTemperature  ...  FuelTemperature  IgnStatus  \
0     423178.7                     100.4  ...              NaN      False
1          NaN                       NaN  ...              NaN       True
2          NaN                       NaN  ...              NaN       <NA>
3          NaN                       NaN  ...              NaN       True
4          NaN                       NaN  ...              NaN       <NA>

   IntakeManifoldTemperature  LampStatus  ParkingBrake  ServiceDistance  \
0                       78.8        1023          True              NaN
1                        NaN        1279          <NA>              NaN
2                        NaN        1279          <NA>              NaN
3                        NaN        1279          <NA>              NaN
4                        NaN       16639          <NA>              NaN

   Speed  SwitchedBatteryVoltage  Throttle  TurboBoostPressure
0    0.0                 3276.75       NaN                 0.0
1    NaN                     NaN       NaN                 NaN
2    NaN                     NaN       NaN                 NaN
3    NaN                     NaN       NaN                 NaN
4    NaN                     NaN       NaN                 NaN

[5 rows x 28 columns]
Data types after conversion:
EventTimeStamp               datetime64[ns]
spn                                  object
fmi                                  object
EquipmentID                          object
AcceleratorPedal                    float64
BarometricPressure                  float64
CruiseControlActive                 boolean
CruiseControlSetSpeed               float64
DistanceLtd                         float64
EngineCoolantTemperature            float64
EngineLoad                          float64
EngineOilPressure                   float64
EngineOilTemperature                float64
EngineRpm                           float64
EngineTimeLtd                       float64
FuelLevel                           float64
FuelLtd                             float64
FuelRate                            float64
FuelTemperature                     float64
IgnStatus                           boolean
IntakeManifoldTemperature           float64
LampStatus                            int64
ParkingBrake                        boolean
ServiceDistance                     float64
Speed                               float64
SwitchedBatteryVoltage              float64
Throttle                            float64
TurboBoostPressure                  float64
dtype: object
Number of rows with NaNs in important columns removed from df:
0
Columns sorted by number of NaN values:
EngineOilTemperature         525565
FuelRate                     524779
FuelLtd                      524582
EngineLoad                   524493
DistanceLtd                  524175
EngineCoolantTemperature     524042
BarometricPressure           524037
IntakeManifoldTemperature    523936
EngineOilPressure            523931
EngineRpm                    523603
IgnStatus                    506359
EventTimeStamp                    0
spn                               0
fmi                               0
EquipmentID                       0
LampStatus                        0
dtype: int64
Creating target columns...
Removing data occuring right after a derate...
Splitting data...
Scaling and One-hot encoding the data...
train_df:              EventTimeStamp   spn EquipmentID  BarometricPressure  \
1001106 2018-07-20 09:31:33  1231  0105406655           -0.045767
1001107 2018-07-20 09:42:30  1231  0105406655                 NaN
358800  2016-01-31 07:12:25   629   105301976                 NaN
927313  2018-01-26 18:58:08    37   105338729            0.318969
927314  2018-01-26 18:59:36    37   105338729                 NaN

         DistanceLtd  EngineCoolantTemperature  EngineLoad  EngineOilPressure  \
1001106    -1.915261                  0.361514   -0.649092           0.533694
1001107          NaN                       NaN         NaN                NaN
358800           NaN                       NaN         NaN                NaN
927313     -2.546183                  0.033049   -0.518343          -1.111772
927314           NaN                       NaN         NaN                NaN

         EngineOilTemperature  EngineRpm  ...  fmi_23  fmi_29  fmi_3  fmi_31  \
1001106              0.267703   0.384482  ...     0.0     0.0    0.0     0.0
1001107                   NaN        NaN  ...     0.0     0.0    0.0     0.0
358800                    NaN        NaN  ...     0.0     0.0    0.0     0.0
927313               0.214600  -0.961596  ...     0.0     0.0    0.0     0.0
927314                    NaN        NaN  ...     0.0     0.0    0.0     0.0

         fmi_4  fmi_5 fmi_6  fmi_7  fmi_8  fmi_9
1001106    0.0    0.0   0.0    0.0    0.0    0.0
1001107    0.0    0.0   0.0    0.0    0.0    0.0
358800     0.0    0.0   0.0    0.0    0.0    0.0
927313     0.0    0.0   0.0    0.0    0.0    0.0
927314     0.0    0.0   0.0    0.0    0.0    0.0

[5 rows x 46 columns]
Imputing missing values using ffill method...
Imputing missing values using forward fill
Saving to csv...
Train and test dataframes saved to ../preprocessed_data/attempting_to_save_ffill_05_03_train.csv and ../preprocessed_data/attempting_to_save_ffill_05_03_test.csv.